body {margin: 0;
background-color: #e3e3e3;
}

button{
display: block;
margin: auto;
width: 200px;
height: 50px;
font-size: 30px;
font-weight: bold;

}
 
 
#size-select {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f1f1f1;
  width: 100px !important;
  margin-left: 10px;
}

#size-select option {
  font-size: 16px;
}
#color-select {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f1f1f1;
  width: 150px;
  margin-left: 10px;
}

#color-select option {
  font-size: 16px;}


 #hood img{

width: 50%;
 }
 #price{
  text-align: center;
 }
.act-bar{
    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  list-style: none;
margin: 0;
  background-color: #333;
  color: #B5E3FC;
  text-align: center;

}

.act-item{
    display: flex;
  align-items: center;
  height: 100%;

  font-size: 22px;
  cursor: pointer;
}
.act-item img{
  width: 70px;
  height: 50px;
}
.act-item a {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: 'Dosis', sans-serif;
  color: #E6E6E7;
  text-decoration: none;
}
.act-item:hover{
   background-color: #444;
}
.act-item a:hover{
  color: #eee;
    
}
.act-item:first-child{
  padding-left: 20px;
}
table{
  margin: auto;
  

}
    td {
        text-align: center;
       font-size: 30px;
       
      }
      td div {
        font-weight: bold;
        margin-top: 10px;
      }